/* Modal */

.closeElementIcon {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.5);
  // border: 1px solid $primaryColor;
}

.closeElementIcon:hover {
        color: rgba(0, 0, 0, 0.9);
}



.modalContainer {
  position: relative;

  button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    // background: transparent;
  }

  button:hover {
    cursor: pointer;
    transform: rotate(180deg) scale(1.1);
    transition-duration: 0.2s;
    // transform: rotate(270deg);

  }
}

.modal {
  display: flex;

  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: transparent;
  transition: all 0.4s ease;
}

.modal > div {
  background-color: $primaryColor;
  opacity: 0.9;
  border-radius: 50px;
  width: 50vw;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  position: absolute;
  top: 20px;
  border: 3px solid #000;
}

.modalTextContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 20px;
  position: relative;
  background: transparent;
  transition: all 0.4s ease;
  width: 50%;
  height: 70%;
  // border: 2px solid red;
  // overflow: auto;
}

.modalImageContent {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 80%;
    display: block;
    margin-bottom: 40px;
  }

  button {
    height: 50px;
    width: 200px;
    cursor: pointer;
  }
}
