/* Results Container Styling */

.userList {
  width: 100%;
  // display: flex;
}

.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 10px solid rgba(0, 0, 0, 0.4);
  }
}

// .movieResult {

// }

.poster-image {
  width: 20vw;
}
