.userListContainer {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // margin: 20px auto 100px;
  width: 90%;
  // position: relative;
  // height: 30px;
  // overflow-y: scroll;
  border-radius: 20px;
  // padding: 30px;
  // border: 3px solid #000;

  // overflow: auto;

  h3 {
    color: rgb(58, 56, 56);
    text-shadow: 4px 4px $primaryColor;
    letter-spacing: 1.5px;
    font-weight: 800;
    padding: 10px 0;
    position: relative;
    
    span {
          color: $primaryColor;
text-shadow: 5px 5px 30px rgba(0,0,0,1);
    letter-spacing: 1.5px;
    font-weight: 800;
    padding: 10px 5px;
    position: relative;
    // font-style: italic;
    bottom: 5px;
    }
  }
  form {
    background: $tertiaryColor;
    padding: 20px 0;
    text-align: center;
    border: 3px solid #000;
    border-radius: 10px;
    margin: 20px 0;

    select {
      margin: 0 8px;
    }

    button {
      height: 40px;
      width: 200px;
    }
  }
}

.trashIcon {
  color: $primaryColor;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
  // box-shadow: 0 0 5px 5px rgba(0,0,0,0.8)
}

.trashIcon:hover {
  transform: rotateY(360deg) scale(1.2);
  transition-duration: 0.4s;
  opacity: 1;
}

.userList {
  display: flex;
  background: $tertiaryColor;
  // flex-direction: column;
  flex-wrap: wrap;
  width: 85%;
  margin: 20px 0;
  // border-radius: 20px;
  border: 3px solid #000;
  // overflow-y: scroll ;
  overflow-x: hidden;
  text-align: center;
  // border: 2px solid black;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.4);
    justify-content: space-around;
    align-items: center;

    h2 {
      padding: 40px 0;
      text-shadow: 5px 5px 30px rgba(0,0,0,1);
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 700;
      width: 100%;
      font-size: 3rem;
      color: $primaryColor;
      // opacity: 1;
    }
  

  ul {
    display: flex;
justify-content: space-around;
align-items: center;

flex-wrap: wrap;
 

  li {
    width: 25%;
    transition: all 0.2s ease-in-out;
    position: relative;
    margin: 20px;
    
    button {
      position: absolute;
      // background: transparent;
      // border-radius: 10px;
      background-color: #000;
      color: $primaryColor;
      border: none;
      right: 15px;
      top: 15px;
      padding: 5px;
    }

    button:hover,
    button:focus {
      cursor: pointer;
      // background: transparent;

    }
  }

  li:hover,
  li:focus {
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 0.2s;
    z-index: 5;
  }

  .movieListItem {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
    }
  }
   }
}
