html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
  background-color: #ABBEBA;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ABBEBA;
  padding: 30px 15px;
  text-align: center;
}

header a {
  text-decoration: none;
}

h1 {
  color: red;
  font-size: 30px;
  font-weight: 600;
}

h2 {
  color: #000;
  padding-top: 5px;
  font-size: 23px;
}

img {
  display: block;
  max-width: 100%;
}

/* MovieDetails */

.poster {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* text-align: center;
  width: 100%; */
}

.description {
  width: 40%;
  margin: 0 25px;
}

.description h2 {
  padding: 10px 0px;
  color: #000;
}

.description p {
  color: #fff;
  line-height: 1.5;
}

.poster-image {
  width: 20vw;
}

/* Catalogue */

ul.catalogue {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* Modal */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: transparent;
  transition: all 0.4s ease;
}

.modal>div {
  background-color: #EADBC4;
  opacity: 0.9;
  border-radius: 50px;
  width: 50vw;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: scale(0); */
  transition: all 0.4s ease;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7rem 3rem 3rem;
  position: relative;
  background: transparent;
}